.button {
  width: fit-content;
  padding: 10px 20px;

  background-color: #FF7144;
  color: #FFFFFF;

  font-size: 15px;
  font-family: "Radion";
  font-weight: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: 2px solid  #FF7144;
  border-radius: 27px;

  transition: all 0.3s;
  cursor: pointer;

  @include mobile {
    width: 250px;

    &--mail {
      width: 228px;
    }

  }

  &:hover {
    background-color: #FFFFFF;
    color: #FF7144;
  }
}
