.menu-icon {
  width: 28px;
  height: 28px;
  background-image: url(../images/menu-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  bottom: 3px;

  @include iPad {
    width: 22px;
    height: 22px;
  }

  @include mobile {
    width: 15px;
    height: 15px;
  }

  &:hover {
    background-image: url(../images/menu-icon-hover.png);
  }

  @media (min-width: 1281px) {
    display: none;
  }
}

.menu {
  background-color: #22425a;

  &__cross {
    position: absolute;
    display: flex;
    align-items: center;
    height: 75px;

    @include iPad {
      height: 55px;
    }

    @include mobile {
      height: 45px;
    }

    &-img {
      width: 15px;
      height: 15px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    margin-top: 70px;
  }

  &-link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #fff;

    &::after {
      background-color: #fff;
      display: block;
      content: "";
      height: 1px;
      -webkit-transition: width 0.3s ease-in-out;
      -moz--transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 100%;
    }

    &:hover:after {
      width: 0;
    }

    &:hover {
      color: #fff;
      background-color: #22425a;
    }
  }

  &__logo {
    position: relative;
    overflow: hidden;
    padding: 0 0 15%;
    bottom: 0;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1000px;
  }

  &__logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
  }
}
