.rate-box {
  position: absolute;
  width: 281px;
  height: 63px;
  color: #252525;
  background-color: #fff;
  bottom: 25px;
  left: 24px;
  border-radius: 8px;

  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 185%;

  &__rate-value {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    &--excellent {
      font-weight: 700;
      padding-right: 12px;
    }

    &--grade-bold {
      font-weight: 700;
    }
  }

  &__star-box-container {
    display: flex;
    gap: 2px;
    padding-right: 12px;
  }

  &__star-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #44AE6F;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    justify-content: center;

    margin-top: 3px;

    &--number {
      margin-right: 10px;
    }

    &--bold-number {
      font-weight: 700;
    }

    &--green-star {
      margin-right: 10px;
    }

    &--trustpilot {
      font-weight: 700;
    }
  }
}
