.ticker-section {
  &__content {
    position: relative;
    overflow: hidden;
    padding: 0 0 54% 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  &__ticker--wrap {
    position: absolute;
    display: flex;
    animation: marquee-unfinite 40s linear infinite;
    bottom: 11px;
  }

  &__ticker--text {
    white-space: nowrap;
    font-weight: 300;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #fff;

  }

  @keyframes marquee-unfinite {
    0% {
      transform: translate(-50%);
    }

    100% {
      transform: translate(0%);
    }
  }
}
