@font-face {
  font-family: "Radion";
  src: url("../fonts/RadionB-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Radion";
  src: url("../fonts/RadionB-Thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Radion";
  src: url("../fonts/RadionB-Book.otf");
  font-weight: bold;
}
